<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>
<div>
<div class="container">
<div class="col-sm-4 ">
    <img class="standardimage img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGKiEahbMrl60poEt87ZTN4NfiI37dIE-Fx9lXN0QGNv8k4ZGB3w" height="150" width="200"></a>
</div>
<div class="col-sm-4" style="color:tomato">

 <h3>ARUNA KAN</h3>
      <strong>Interactive Designer</strong>
      <p> <span class="glyphicon glyphicon-home">
      111 Lorem Street, 34785, Ipsumcity <br>
      </span></p>
      <p> <span class="glyphicon glyphicon-envelope">
     aruna@business.com
          </span></p>
     <p><span class="glyphicon glyphicon-phone">
         +11 444 555 22 33
     </span></p>
     <p><span class="glyphicon glyphicon-search">
         www.businessweb.com
     </span></p>
    </div>
    <div class="col-md-12">

    <h4 class="col-md-4">OBJECTIVE</h4></p>


<p class ="col-md-8">Loriel ipsum dolor sit amet consectuer adipsing elit proin dignism vivera nibh
    sebrs varius bibedneum nunc in sem ulter poscure atiquam ut aliquam lacus.
</p>
    </div>
    <!--end objective-->
        <div class="row">

  <div class="col-md-12" >
    <h4 class="col-md-12">EDUCATION</h4>


      <div class="col-md-12" >
          <h4 class="col-md-12"> <br></h4>
          <span class="col-md-4" >Sep 2008 - Feb 2011</span>
          <p class="col-md-4">Gayatri College,India</p>
      </div>


      <div class="col-md-12" >
          <h4 class="col-md-4"><br></h4>
          <p class="col-md-4" >Bachelor in Computer Science</p>
          <p class="col-md-5"> </p>
      </div>




  </div>


    </div>

<div class="col-md-12" >
    <h4 class="col-md-12"> <br></h4>
    <span class="col-md-4" >  Apr 2011 - Feb 2013</span>
    <p class="col-md-4">Mongomery College</p>
</div>


<div class="col-md-12" >
<h4 class="col-md-4"><br></h4>
<p class="col-md-4" >Masters in Computer Applications </p>
<p class="col-md-5"> </p>
</div>



    <!--Start Experience-->
    <div class="row">
    <div class="col-md-12" >
        <h4 class="col-md-12">EXPERIENCE</h4>


        <div class="col-md-12" >
            <h4 class="col-md-12"> <br></h4>
            <span class="col-md-4" >Aug 2013 - Feb 2015</span>
            <p class="col-md-4">Tech Mahindra</p>
        </div>
        <div class="col-md-12" >
            <h4 class="col-md-12"></h4>
            <p class="col-md-4" ></p>
            <p class="col-md-4">Business Processing Outsourcing</p>
        </div>


        <div class="col-md-12" >
            <h4 class="col-md-4"><br></h4>
            <p class="col-md-4" >Sed fermentum solicitudian interdum Etain dolor</p>
            <p class="col-md-5"> </p>
        </div>


        <div class="col-md-12" >
            <h4 class="col-md-12"> <br></h4>
            <span class="col-md-4" >Mar 2015 - Feb 2016</span>
            <p class="col-md-4">Misra Technologies</p>
        </div>
        <div class="col-md-12" >
            <h4 class="col-md-12"></h4>
            <p class="col-md-4" ></p>
            <p class="col-md-4">System Analyst</p>
        </div>


        <div class="col-md-12" >
            <h4 class="col-md-4"><br></h4>
            <p class="col-md-4" >Sed fermentum solicitudian interdum Etain dolor</p>
            <p class="col-md-5"> </p>
        </div>

    </div>
<!-- Skills-->

        <div class="row">
            <div class="col-md-12" >
                <h4 class="col-md-12">SKILLS</h4>


                <div class="col-md-12" >
                    <h4 class="col-md-12"> <br></h4>
                    <span class="col-md-4" >Software Knowledge</span>
                    <ul>
                        <li class="col-md-2">C</li>
                        <li class=""col-md-2>PHP</li>
                    </ul>
                    <h4 class="col-md-12"> <br></h4>
                    <span class="col-md-4" ></span>
                    <ul>
                        <li class="col-md-2">SDLC</li>
                        <li class=""col-md-2>Networking</li>
                    </ul>
                    <h4 class="col-md-12"> <br></h4>
                    <span class="col-md-4" ></span>
                    <ul>
                        <li class="col-md-2">Java</li>
                        <li class=""col-md-2>Ruby</li>
                    </ul>

                </div>

            </div>
        <!-- end skills-->
    </div>


</div>



</div>
<!--End Experience-->
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>